<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a60fa">  <td>16/11/17 19:48:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activation_kyc_stg.Happy_path_Registartion()[pri:0, instance:Investor.Activation_kyc_stg@5c86c46a]">Happy_path_Registartion</td> 
  <td>main@1175322337</td>   <td></td> </tr>
<tr bgcolor="7a60fa">  <td>16/11/17 19:48:49</td>   <td>47234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activation_kyc_stg.afterMethod()[pri:0, instance:Investor.Activation_kyc_stg@5c86c46a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1175322337</td>   <td></td> </tr>
<tr bgcolor="7a60fa">  <td>16/11/17 19:47:56</td>   <td>-6108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activation_kyc_stg.beforeMethod(java.lang.String)[pri:0, instance:Investor.Activation_kyc_stg@5c86c46a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1175322337</td>   <td></td> </tr>
</table>
